.Logo {
    font-family: 'Questrial', sans-serif;
    font-size: 30px;
    display: flex;

    img {
        width: 40px;
        height: 40px;
        box-shadow: 5px 8px 15px rgba(0, 0, 0, 0.2);
    }

    .appName {
        margin: 0;
        padding-top: 5px;
        padding-left: 10px;
        text-shadow: 5px 8px 15px rgba(0, 0, 0, 0.2);

        &.white {
            color: white;
        }
    }
}



