@import 'src/assets/styles/base.scss';

.Logo {
    font-family: 'Questrial', sans-serif;
    font-size: 1.5rem;
    
    @media (min-width: 576px) {
        font-size: 1.7rem;
    }

    img {
        width: 40px;
        height: 40px;
        box-shadow: $box-shadow;
    }

    .appName {
        margin: 0;
        padding-top: 5px;
        padding-left: 10px;
        text-shadow: $box-shadow;

        &.white {
            color: white;
        }
    }
}



